Order Form

<form [formGroup]="orderForm" ngxsForm="PizzaState.pizzaForm" ngxsFormClearOnDestroy="true" (ngSubmit)="onSubmit()">


  <select formControlName="name">
    <option value="">Select your pizza</option>
    <option value="Mozarella">Mozarella</option>
    <option value="Quatro Formaggi">Quatro Formaggi</option>
    <option value="Pepperoni">Pepperoni</option>
  </select>

  <input type="number" formControlName="count">
  <button type="submit" [disabled]="!isOrderFormValid">Submit</button>


</form>


Orders

<ul>
  <li *ngFor="let order of orders$ | async; trackBy; trackBy">

    {{ order.name }} x {{ order.count }}

  </li>
</ul>
